body{
    background: #202020;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Make the body take up the entire viewport height */
    margin: 0; /* Remove default margin */
    text-align: center;
}

div.container{
    
    background-color: white;
    width: 300px;
    height: 500px;
    margin: 25% auto;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    padding: 20px;
    box-shadow: 15px 15px 0px 0px black;
}

h1,h3{
    color: #151515;
}

div.acts{
    background-color: #151515;
    width: 100px;
    height: 25px;
    color: white;
    padding: 20px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin: 15px auto;
    box-shadow: 5px 5px 0px 0px #101010;
}

a{
    color: white;
    text-decoration: none;
}
